// colors
$background: rgba(255, 255, 255, 1);
$text: rgba(0, 0, 0, 1);
$primary: rgba(255, 189, 20, 1);
$accent: rgba(0, 0, 0, .2);
$background-secondary: rgba(237, 239, 241, 1);

// category colors
$economy: rgba(255, 45, 45, 1);
$education: rgba(36, 83, 139, 1);
$diversity: rgba(36, 139, 40, 1);

// boxes
$radius: 10px;

// transition
$regular-transition: all 0.3s ease-in-out