@use '@/style/variables' as *;

.articleHeader {
  margin-top: 32px;
  display: flex;
  gap: 32px;
  flex-direction: column;
  small {
    font-weight: 700;
    &.date {
      color: $accent;
    }
  }
  h2 {
    font-weight: 400;
  }
  .topHeader {
    display: flex;
    flex-direction: column;
    gap: 10px;
    small {
      text-transform: uppercase;
    }
  }
}
